h1.centre {
    text-align: center;
    color: darkslategray;
}

p.intro {
    margin: 10px;
    text-align: center;
}

h3 {
    text-align: center;
    color: dimgray;
}

div.socials {
    margin: 20px;
    text-align: center;
}

a.socials {
    color: black;
    margin: 10px;
    font-size: x-large;
    transition: 1s;
}

a.socials:hover {
    color: grey;
}

div.content {
    margin: auto;
    margin-bottom: 10px;
    max-width: 700px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    line-height: 1.6;
}

em.intro {
    font-style: italic;
    font-weight: bold;
}

h4 {
    font-size: larger;
    margin: 10px;
}

p {
    font-size: large;
    margin: 10px;
}

body {
    background-color: gainsboro;
    font-family: sans-serif;
}

div.next_article {
    margin: auto;
    max-width: 700px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    line-height: 1.6;
}