body {
    color: antiquewhite;
    background-color: black;
    padding: 10px;
    text-align: center;
    font-size: large;
}

header {
    margin: 10px;
    padding: 10px;
}

main {
    margin: 10px;
    padding: 10px;
}

footer {
    margin: 10px;
    padding: 10px;
}

.notes {
    text-align: left;
}

.top {
    background-color: rgb(20, 20, 20);
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.page {
    margin: 10px;
    padding: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    margin: 10px;
    width: 80%;
    border: none;
    border-radius: 10px;
    padding: 10px
}

input[name="submit"] {
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[name="sort"] {
    border: none;
    color:antiquewhite;
    background-color:rgb(30, 30, 30);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[name="submit"]:hover {
    background-color: antiquewhite;
}

input[name="sort"]:hover {
    background-color: rgb(20, 20, 20);
}

button[name="submit"] {
    border: none;
    color:antiquewhite;
    background-color:rgb(30, 30, 30);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button[name="submit"]:hover {
    background-color: rgb(20, 20, 20);
}

table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

th, td {
    border: 1px;
    border-style: none;
    border-radius: 5px;
}

tr:nth-child(even) {
    background-color: rgb(20, 20, 20);
}

tr:nth-child(odd) {
    background-color: rgb(30, 30, 30);
}

.socials {
    margin: 5px;
    padding: 5px;
    font-size:x-large;
    transition: background-color 0.2s ease;
}

.socials:hover {
    color: lightblue;
}

.copyright {
    margin: 10px;
    padding: 10px;
}
