{% extends "base.html" %}

{% block header %}
    <div class="top">
        <h1>Once In Golconda</h1>

        <div class="nav">
            <form action="/" method="post">
                <input name="search" id="search" hidden>
                <input type="submit" name="submit" id="submit" value="Search">
            </form>

            <form action="/logout" method="post">
                <input name="register" id="register" hidden>
                <input type="submit" name="submit" id="submit" value="Log Out">
            </form>
        </div>
    </div>
{% endblock %}

{% block main %}
    <br>
    <br>
    <h3>Your Previous Queries</h3>
    <i>To check for new data, click on the update button</i>
    <br>
    <br>
    <P>{{ message }}</P>

    <div class="notes"></div>
        <table>
            <thead>
                <tr>
                    <td><strong>Company</strong></td>
                    <td>
                        <strong>
                            <form action="/sort" method="post">
                                <input name="sort" id="sort" hidden value="forward_pe">
                                <input type="submit" name="sort" id="sort" value="Price Earnings">
                            </form>
                        </strong>
                    </td>
                    <td>
                        <strong>
                            <form action="/sort" method="post">
                                <input name="sort" id="sort" hidden value="earnings_growth">
                                <input type="submit" name="sort" id="sort" value="Earnings Growth">
                            </form>
                        </strong>
                    </td>
                    <td>
                        <strong>
                            <form action="/sort" method="post">
                                <input name="sort" id="sort" hidden value="profit_margins">
                                <input type="submit" name="sort" id="sort" value="Profit Margin">
                            </form>
                        </strong>
                    </td>
                    <td>
                        <strong>
                            <form action="/sort" method="post">
                                <input name="sort" id="sort" hidden value="price_book">
                                <input type="submit" name="sort" id="sort" value="PB Value">
                            </form>
                        </strong>
                    </td>
                    <td>
                        <strong>
                            <form action="/sort" method="post">
                                <input name="sort" id="sort" hidden value="quick_ratio">
                                <input type="submit" name="sort" id="sort" value="Quick Ratio">
                            </form>
                        </strong>
                    </td>
                    <td>
                        <strong>
                            <form action="/sort" method="post">
                                <input name="sort" id="sort" hidden value="current_ratio">
                                <input type="submit" name="sort" id="sort" value="Current Ratio">
                            </form>
                        </strong>
                    </td>
                    <td>
                        <strong>
                            <form action="/sort" method="post">
                                <input name="sort" id="sort" hidden value="free_cashflow">
                                <input type="submit" name="sort" id="sort" value="Free Cashflow">
                            </form>
                        </strong>
                    </td>
                    <td><strong>Update/Delete</strong></td>
                </tr>
            </thead>

            <tbody>
                {% for company in history %}
                    <tr>
                        <td>{{ company.long_name }}</td>
                        <td>{{ company.forward_pe }}</td>
                        <td>{{ company.earnings_growth }}</td>
                        <td>{{ company.profit_margins }}</td>
                        <td>{{ company.price_book }}</td>
                        <td>{{ company.quick_ratio }}</td>
                        <td>{{ company.current_ratio }}</td>
                        <td>{{ company.free_cashflow | currency }}</td>
                        <td style="padding: 5px;">
                            <div style="display:flex; align-items:center; gap:8px; margin: 5px; padding: 5px;">
                                <form action="/update" method="post">
                                    <input name="update" id="update" hidden value="{{ company.ticker }}">
                                    <button type="submit" name="submit" id="submit">
                                        <i class="material-icons">refresh</i>
                                    </button>
                                </form>

                                <form action="/delete" method="post">
                                    <input name="delete" id="delete" hidden value="{{ company.ticker }}">
                                    <button type="submit" name="submit" id="submit">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}