{% extends "base.html" %}

{% block header %}
    <div class="top">
        <h1>Once In Golconda</h1>

        <div class="nav">
            {% if logged_in %}
                <form action="/history" method="post">
                    <input name="register" id="register" hidden>
                    <input type="submit" name="submit" id="submit" value="Previous Searches">
                </form>
                
                <form action="/logout" method="post">
                    <input name="login" id="login" hidden>
                    <input type="submit" name="submit" id="submit" value="Log Out">
                </form>
            
            {% else %}
                <form action="/login" method="post">
                    <input name="login" id="login" hidden>
                    <input type="submit" name="submit" id="submit" value="Log In">
                </form>

                <form action="/register" method="post">
                    <input name="register" id="register" hidden>
                    <input type="submit" name="submit" id="submit" value="Register">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block main %} 
    <h1>Enter A Company's Name or Ticker Below</h1>
    <i>Company should be traded in the US stock market</i>

    <form class="page" action="/" method="post">
        <div>
            <input type="text" name="user_input" id="user_input" autofocus autocomplete="off" placeholder="Example: Tesla if you want info on Tesla">
        </div>
        <div>
            <input type="submit" name="submit" id="submit" value="Get Data">
        </div>
    </form>

    <p> {{ message }}</p>
{% endblock %}