{% extends "base.html" %}

{% block header %}
    <div class="top">
        <h1>Once In Golconda</h1>

        <div class="nav">
            <form action="/" method="post">
                <input name="search" id="search" hidden>
                <input type="submit" name="submit" id="submit" value="Search">
            </form>

            <form action="/register" method="post">
                <input name="register" id="register" hidden>
                <input type="submit" name="submit" id="submit" value="Register">
            </form>
        </div>
    </div>
{% endblock %}

{% block main %} 
    <h1>Log In</h1>
    <i>This allows you to keep a record of your searches for future reference</i>

    <form class="page" action="/login" method="post">
        <div class="forms">
            <div>
            <input type="email" name="username" id="username" autofocus autocomplete="off" placeholder="Enter your email">
            </div>
            <div>
            <input type="password" name="password" id="password" autofocus autocomplete="off" placeholder="Must contain at least one number and one letter">
            </div>
        </div>
        <div>
            <input type="submit" name="submit" id="submit" value="Log In">
        </div>
    </form>

    <p> {{ message }}</p>
{% endblock %}