{% extends "base.html" %}

{% block header %}
    <div class="top">
        <h1>Once In Golconda</h1>
        <div class="nav">
            <form action="/" method="post">
                <input name="search" id="search" hidden>
                <input type="submit" name="submit" id="submit" value="Search">
            </form>

            <form action="/login" method="post">
                <input name="register" id="register" hidden>
                <input type="submit" name="submit" id="submit" value="Log In">
            </form>
        </div>
    </div>
{% endblock %}

{% block main %} 
    <h1>Register Below</h1>
    <i>Do not use a password you use anywhere else!</i>

    <form class="page" action="/register" method="post">
        <div>
            <input type="email" name="username" id="username" autofocus autocomplete="off" placeholder="Enter your email">
        </div>
        <div>
            <input type="password" name="password" id="password" autofocus autocomplete="off" placeholder="Must contain at least one number and one letter">
        </div>
        <div>
        <input type="password" name="confirm_password" id="confirm_password" autofocus autocomplete="off" placeholder="Must match with the password entered above">
        </div>
        <div>
        <input type="submit" name="submit" id="submit" value="Register">
        </div>
    </form>

    <p> {{ message }}</p>
{% endblock %}