/*global styling*/
body {
    margin: auto;
    background-color: rgb(29, 28, 28);
    color: antiquewhite;
    font-family: sans-serif;
    max-width: 700px;
}

/*header styling*/
header {
    margin: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    margin: 10px;
    color: antiquewhite;
    transition: .5s ease;
    text-decoration: none;
}

.navigation:hover {
    color: rgb(10, 136, 179);
    text-decoration: solid;
}

/*main styling*/
main {
    margin: 20px;
    text-align: left;
    line-height: 1.75;
  
}

.article_border_left {
    border-left: 1px;
    border-left-style: solid;
}

.intro {
    margin-left: 20px;
    color: rgb(10, 136, 179);
}

.card {
    margin-left: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    align-items: center;
}

.card-details {
    display: flex;
    align-items: center;
}

.separator {
    margin-left: 10px;
    margin-right: 10px;
}

.description {
    margin-left: 10px;
    color: rgb(10, 136, 179);
}

.job {
    margin: 20px;
    display: flex;
}

.divider {
    margin-right: 100px;
    margin-left: 100px;
    border-style: solid;
    border-width: 1px;
}

.job-details {
    display: flex;
}

.achievement {
    border-left: rgb(10, 136, 179);
    border-left-style: solid;
    border-left-width: 1px; 
}

.details-ed {
    display: flex;
    justify-content: space-between;
}

.description-journal {
    color: rgb(10, 136, 179);
}

a {
    color: rgb(10, 136, 179);
    transition: .5s ease;
    text-decoration: none;
}

a:hover {
    color: antiquewhite;
    text-decoration: solid;
}

/*footer styling*/
footer {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.socials {
    margin: 10px;
    color: antiquewhite;
    transition: .5s ease;
    text-decoration: none;
}

.socials:hover {
    color: rgb(10, 136, 179);
    text-decoration: solid;
}