/*global styling*/
body {
    margin: auto;
    background-color: rgb(29, 28, 28);
    color: antiquewhite;
    font-family: sans-serif;
    max-width: 700px;
}

/*header styling*/
header {
    margin: 20px;
    border-bottom: antiquewhite;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    margin: 10px;
    color: antiquewhite;
    transition: .5s ease;
    text-decoration: none;
}

.navigation:hover {
    color: rgb(10, 136, 179);
    text-decoration: solid;
}

/*main styling*/
main {
    margin: 20px;
    text-align: left;
    font-size: large;
}

.back_to_blog {
    font-size: smaller;
    color: antiquewhite;
    transition: .5s ease;
    text-decoration: none;
}

.back_to_blog {
    color: rgb(10, 136, 179);
    text-decoration: solid;
}

.article_details {
    display: flex;
    font-size: smaller;
    
}

.in_article {
    display: flex;
    font-size: smaller;
    border-bottom: 1px;
    border-bottom-style: solid;
}

.details {
    margin-right: 10px;
}

.pquote {
    color: rgb(10, 136, 179);
    font-size: larger;
}

.article_border_left {
    border-left: 1px;
    border-left-style: solid;
}

.article {
    margin-left: 20px;
    line-height: 1.75;
    font-size: 1.08rem;
}

a {
    color: rgb(10, 136, 179);
    transition: .5s ease;
    text-decoration: none;
}

a:hover {
    color: antiquewhite;
    text-decoration: solid;
}

.article_nav {
    color: antiquewhite;
    transition: .5s ease;
    text-decoration: none;
}

.article_nav:hover {
    color: rgb(10, 136, 179);
    text-decoration: solid;
}

.article_border_bottom {
    margin: 20px;
    border-bottom: 1px;
    border-bottom-style: solid;
}

.next_article {
    display: flex;
    justify-content: space-between;
}

/*footer styling*/
footer {
    border-top: 1px;
    border-top-style: solid;
    margin-left: 20px;
    margin-right: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.socials {
    margin: 10px;
    color: antiquewhite;
    transition: .5s ease;
    text-decoration: none;
}

.socials:hover {
    color: rgb(10, 136, 179);
    text-decoration: solid;
}