body {
    background-color: gainsboro;
    font-family: sans-serif;
    max-width: 700px;
    margin: auto;
    padding: 20px;
    margin-bottom: 100px;
}

a {
    transition: 1s;
}

a:hover {
    color: grey;
}

h1 {
    text-align: center;
}

p.intro {
    text-align: center;
}

em.intro {
    font-style: italic;
}

h3 {
    text-align: center;
    color: dimgray;
}

div.socials {
    margin: 10px;
    text-align: center;
}

a.socials {
    color: black;
    margin: 10px;
    font-size: x-large;
}

div.navigation {
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

a.navigation {
    margin: 10px;
}

div.content {
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    line-height: 1.6;
}

h4 {
    font-size: larger;
    margin: 10px;
}

p {
    font-size: large;
    margin: 10px;
}

div.next_article {
    max-width: 150px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}