body {
    background-color: gainsboro;
    font-family: sans-serif;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    margin-bottom: 100px;
}

a {
    transition: 1s;
}

a:hover {
    color: grey;
}

h1 {
    text-align: center;
}

div.socials {
    margin: 10px;
    text-align: center;
}

a.socials {
    color: black;
    margin: 10px;
    font-size: x-large;
}

div.navigation {
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

a.navigation {
    margin: 10px;
}

form {
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    max-width: 700px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    line-height: 1.6;
}

input {
    border-radius: 5px;
}
