/*global styling*/
body {
    margin: auto;
    background-color: black;
    color: antiquewhite;
    font-family: sans-serif;
    text-align: center;
    max-width: 700px;
}

header {
    margin: 20px;
}

main {
    margin: 20px;
}

footer {
    margin: 20px;
}

a {
    transition: 1s ease;
    text-decoration: none;
}

a:hover {
    color: antiquewhite;
    text-decoration: solid;
}

.navigation {
    margin: 10px;
}

.socials {
    font-size:x-large;
    margin: 5px;
}

/*Body styling*/

main {
    text-align: left;
}

.article {
    padding: 20px;
}